@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text-color: #1c96c5;
    --background-color: #f9f9f9;
    --form-background: #ffffff;
    --form-border-color: #d1d5db;
    --form-label-bg: #f9f9f9;
    --btn-bg-color: #1c96c5;
    --btn-text-color: #ffffff;
    --btn-hover-bg: #166b92;
    --hero-overlay-color: rgba(0, 0, 0, 0.4);
    --journey-card-bg: #ffffff;
    --journey-card-shadow: rgba(0, 0, 0, 0.1);
    --btn-shadow: rgba(0, 0, 0, 0.2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

